sudo: false
install: true
language: erlang
otp_release:
  - 20.0
  - 19.3
  - 18.3

before_script: "./rebar3 update"
script: "./rebar3 dialyzer"
cache:
  directories:
  - $HOME/.cache/rebar3/
deploy:
  provider: script
  script: scripts/hex.sh
  on:
    tags: true
