%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[
 {sasl,
  [
   {sasl_error_logger, {file, "/tmp/erlastic_search.sasl_log"}}
  ]
 },
  
 %% (G)eneric (A)pplication (S)services config below here. This default config provides
 %% the release with log rotaion and trunctation.
 {gas,
  [
   {mod_specs, [{elwrap, {ewl_elwrap_h, start_link}}]},
   
   {wiring, [
             {elwrap, [
               {wire, sasl, sasl_error_logger, "V:{sasl_error_logger, V}"},
               {err_log, "/tmp/erlastic_search.err_log"},
                       {err_log_wrap_info, {{err,5000000,10},{sasl,5000000,10}}},
                       {transform_previous, "V:[V]"}
                      ]}
            ]
   },
   
   {err_log_tty, true} % Log to the screen
   
  ]
 },


 {erlastic_search, []}
].
